.dayBlock {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #555;
  box-shadow: 0px 0px 4px 2px #000;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  transition-property: font-size, color;


}
.dayBlock:hover {
  font-size: 30px;
  transition: font-size 0.2s ease;

}
.dayBlock:hover a {
  color: #83cc70;
  transition: color 0.5s ease;
}